<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div th:if="${param.added}" class="alert alert-primary" role="alert">
        <strong>Well done!</strong> Category has been successfully created.
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6">
            <form method="post" th:object="${fullTask}" th:action="@{/form}">
                <input class="form-control" type="text" th:field="*{name}" placeholder="name"/>

                <select th:field="*{category}">
                    <option th:each="singleCategory : ${fullTask.getCategories()}"
                            th:value="${singleCategory.getName()}" th:text="${singleCategory.getName()}"></option>
                </select>

                <input class="form-control" type="text" th:field="*{comment}" placeholder="comment"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6">
            <form method="post" action="" th:object="${category}" th:action="@{/AddCategory}">
                <input class="form-control" type="text" th:field="*{name}" placeholder="name"/>
                <input type="submit" value="submit"/>
            </form>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>