<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/index">TaskPlanner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="/form">Add Task/Category <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div style="width:98%; margin: auto";>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-6 col-xl-3 mt-3 mb-4" th:each="task: ${tasks}">
        <div class="ml-ml-1 mr-mr-1 p-10 border" style="background-color: #e0e2e5">
            <div class="row mb-2 mt-2">
                <div class="col-md-6 text-left"><strong th:text="${'Title: '+ task.getName()}" class="ml-3"></strong>
                </div>
                <div class="col-md-6 text-right" th:if="${task.getCategory()!=null}"><strong th:text="${'Category: ' + task.getCategory().getName()}" class="mr-3"></strong>
                </div>
            </div>
            <div class="ml-3 mr-1" style="overflow-y:scroll; overflow-x: hidden; max-height:400px">
                <div class="form-group">
                    <span th:each="comment: ${task.getTaskComments()}">
                        <label style="width: 100%">
                        <textarea class="form-control notes" th:text="${comment.getComment()}"></textarea>
                    </label>
                    </span>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 text-left pt-3">
                <a th:href="${'/AddNote?taskId=' + task.getId()}" ><span class="pl-3"><i class="fa fa-plus"></i> Add new note</span></a>
            </div>
            <div class="col-md-6 text-right pt-3">
                <span th:id="${'finishTask' + task.getId()}" class="pr-3 text-danger finishTask"><i class="fa fa-minus-square"></i> Finish Task</span>
            </div>
            </div>
            <!--<div class="p-2 pl-3 float-left">-->
            <!--</div>-->
</div>
</div>
</div>
</div>

<style>
    .finishTask:hover{
        text-decoration: underline;
    }
</style>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    $( document ).ready()
    {
        $(".finishTask").on('click', function () {
            let taskId = this.id.substr(10);
            $.post("/api/Task/Finish", {taskId:taskId})
                .done(function () {
                    window.location.href = "/index";
                })
        })

    }

</script>
</body>
</html>