<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Logowanie </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="login-main-container">
    <div th:if="${param.created}" class="alert alert-primary" role="alert">
        <strong>Well done!</strong> Your account has been successfully created.
    </div>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <strong>Oops!</strong> Uncorrected login or password.
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="panel text-center">
                <p th:if="${param.logout}">
                    You have been successfully logged out.
                </p>
                <h2>Login page</h2>
                <p>Type your login and password to sign in</p>
            </div>
            <div class="cent">
            <form th:action="@{/login}" th:object="${user}" method="post">
                <div class="form-group">

                    <input type="text" th:field="*{username}" class="form-control login" placeholder="User name"/>
                </div>
                <div class="form-group">
                    <input type="password" th:field="*{password}" class="form-control password" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <a class="text-muted" href="/register">Haven't got account yet? Register account</a>
                </div>
                <input class="btn submit-button" type="submit" value="Sign in"/>
            </form>
        </div>
    </div>
    </div>
</div>
</body>
</html>
